<%= image_tag @item.get_image(400,300) %>
<p><%= @item.name %></p>
<p><%= @item.introduction %></p>
<p>¥<%= @item.with_tax_price.to_s(:delimited) %>(税込)</p>
<!-- ここに個数選択フォーム -->
<%= link_to "カートに入れる" %>